.layout_children {
    max-width: 50vw;
    min-height: calc(100vh - 124px - 110px);
}

.layout_container, .layout_children * {
    background-color: var(--primary-color);
} 
 
.custom_footer {
    bottom: 0;
}
