.layout_children {
    max-width: 70vw;
    min-height: calc(100vh - 220px);
}

.layout_children .imgDiv{
    max-width: 80vw;
} 

.layout_container, .layout_children * {
    background-color: var(--primary-color);
} 
 
.custom_footer {
    background-color: white;
    margin-top: 2rem;
}
.Nav_nav_link__2Hh0v.css-1xkeamy {
    padding-bottom: 20 !important;
}
@media(max-width: 1100px) {
    .layout_children {
        max-width: 90vw;
    }
}

@media(max-width: 420px) {
    .layout_children {
        max-width: 95vw;
    }
}
